<div class="h-full grid surface-ground w-full m-0">
  <div class="col-12 p-0">
    <app-header [adminMode]="adminMode"></app-header>
  </div>
  <div class="col-12 p-0">
    <router-outlet></router-outlet>
  </div>
  <div class="col-12 p-0 flex justify-content-center align-items-center bg-orange-700 p-0 font-semibold text-center text-white">
    <div class="line-height-1">
      <p>Copyright</p>
      <p>Direccion: Las araucarias, 013, Talagante</p>
      <p>Telefono: (+569)1234567</p>
      <p>
        Email: <a class="no-underline text-white" href="">correo@gmail.com</a>
      </p>
    </div>
  </div>
</div>
