<div class="flex grid p-5 justify-content-center">
  <div class="col-12">
    <p-fieldset
      legend="Diferencias entre cerveza industrial y la artesanal"
      [toggleable]="true"
      [transitionOptions]="'300ms'"
    >
      <p style="font-size: 15px">
        Desde sus ingredientes hasta su proceso de elaboración, aromas y sabores
        que los distinguen a cada una y que se establecen para mercados tan
        distintos pero similares a la vez.
      </p>
      <div class="flex justify-content-center">
        <iframe
          style="width: 500px; height: 320px"
          src="https://www.youtube.com/embed/wRDBJDjOhyw"
          title="¿Cuáles son las diferencias entre una cerveza artesanal  y una cerveza industrial?"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </p-fieldset>
  </div>

  <div class="col-12">
    <p-fieldset
      legend="Ingredientes"
      [toggleable]="true"
      [transitionOptions]="'300ms'"
    >
      <p style="font-size: 15px">
        La cerveza artesanal se elabora a partir de ingredientes totalmente
        naturales, que no llevan aditivos artificiales ni conservantes,
        simplemente agua, levadura, maltas y lúpulos, estos últimos son las
        partes secas y con flores de la planta del lúpulo, comúnmente utilizadas
        en la elaboración de cerveza para darle el sabor amargo que lo
        caracteriza. <br />
        En cambio, la cerveza industrial se pasteuriza y contiene conservantes,
        con el fin de que pueda ser transportada y su caducidad sea por periodos
        más largos.
        <br />
        Tradicionalmente, la cerveza siempre se ha fabricado a partir de malta
        de cebada, un material de alta calidad y de costo elevado. Para abaratar
        costos, los grandes productores industriales usan otros aditivos como el
        arroz, el maíz o el mijo, elementos menos caros pero que producen una
        cerveza de calidad muy inferior.
        <br />
        La diferencia de la industrial, si revisa la etiqueta de una artesanal,
        quedará en el entendido que, en las artesanas no encontrarás ni
        conservantes ni antioxidantes añadidos artificialmente.
      </p>
    </p-fieldset>
  </div>
  <div class="col-12">
    <p-fieldset
      legend="Procesos"
      [toggleable]="true"
      [transitionOptions]="'300ms'"
    >
      <div class="flex justify-content-center">
        <img style="border: 1px solid #000" src="./assets/proceso.jpg" />
      </div>
    </p-fieldset>
  </div>
</div>
